@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p>This class introduces Scrum, ASP.NET MVC and has a major client based project</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Scrum</h2>
        <p>
            Cool stuff about Scrum goes here
        </p>
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <div>Stuff about MVC goes here</div>
        <h3>Links to sample models</h3>
        @Html.ActionLink("Customers", "index", "Customers")<br />
        @Html.ActionLink("Orders", "index", "Orders")<br />
        @Html.ActionLink("Products", "index", "Products")
    </div>
    <div class="col-md-4">
        <h2>MIS AIS and COB</h2>
        <div>Department and college stuff goes here    </div>
    </div>
